/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

/* Definitions */
body {
  /* initialize with red to avoid pre-load jank */
  --accent-color: #f87070;

  &[data-theme="red"] {
    --accent-color: #f87070;
  }
  &[data-theme="teal"] {
    --accent-color: #70f3f8;
  }
  &[data-theme="purple"] {
    --accent-color: #d881f8;
  }

  &[data-font-type="sans"] {
    --font-family: "Kumbh Sans", --apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
  &[data-font-type="serif"] {
    --font-family: "Roboto Slab", Palatino, "Palatino Linotype",
      "Palatino LT STD", "Book Antiqua", Georgia, serif;
  }
  &[data-font-type="mono"] {
    --font-family: "Space Mono", "SF Mono", SFMono-Regular, Consolas,
      "Liberation Mono", Menlo, Courier, monospace;
  }

  font-family: var(
    --font-family,
    "Kumbh Sans",
    --apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol"
  );
}

button {
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }
}

.timer-container {
  background: linear-gradient(
    135deg,
    rgba(22, 25, 50, 1) 25%,
    rgba(38, 44, 86, 1) 75%
  );
  box-shadow: 36px 36px 64px 0px rgba(22, 25, 50, 1),
    -36px -36px 64px 0px rgba(38, 44, 86, 1);
}

.on-surface-icon {
  fill: #d7e0ff88;
  &:hover {
    fill: #d7e0ff;
  }
}
